<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Search database - DBMonitor</title>

  <link rel="icon" type="image/png" href="/public/images/logo.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css" integrity="sha256-cABFXjDceYV7Yh6IuUexjSGcf8IKolv4x1tXbNU2lsE=" crossorigin="anonymous" />

  <script async data-main="/public/js/search-database.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" integrity="sha256-0SGl1PJNDyJwcV5T+weg2zpEMrh7xvlwO4oXgvZCeZk=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="ui inverted segment">
    <div class="ui container">
      <div class="ui inverted secondary pointing menu">
        <div class="item">
          <div class="ui icon input" data-bind="css: { loading: loading }">
            <input placeholder="Search..." type="text" data-bind="textInput: query">
            <i class="search icon"></i>
          </div>
        </div>

        <div class="right menu">
          <div class="item">
            <i class="green check circle icon" data-bind="visible: updateSuccess"></i>
            <i class="red remove circle icon" data-bind="visible: updateFailed"></i>
            <span>last update: </span>
            &nbsp;
            <span data-bind="text: lastUpdate">&hellip;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui segment" data-bind="css: { loading: loading }">
      <p data-bind="text: message, visible: messageVisible"></p>

      <table class="ui celled striped table" data-bind="visible: tableVisible">
        <thead>
          <tr>
            <th class="four wide">Database name</th>
            <th class="four wide">Server</th>
            <th class="eight wide">Metadata</th>
          </tr>
        </thead>

        <tbody data-bind="foreach: databases">
          <tr>
            <td class="collapsing">
              <i class="database icon"></i> <span data-bind="text: name"></span>
            </td>

            <td>
              <i class="server icon"></i>
              <span data-bind="text: server"></span>
              <span data-bind="if: hasDescription">(<span data-bind="text: description"></span>)</span>
            </td>

            <td>
              <span data-bind="if: hasCommit">commit: <span data-bind="text: commit"></span>,&emsp;</span>
              <span data-bind="if: hasBranch">branch: <span data-bind="text: branch"></span>,&emsp;</span>
              <span data-bind="if: hasProject">project: <span data-bind="text: project"></span>,&emsp;</span>
              <span>role: <span data-bind="text: role"></span>&emsp;</span>
              <i class="green check circle icon" data-bind="visible: isOk"></i>
              <i class="yellow warning circle icon" data-bind="visible: isWarn"></i>
              <i class="red remove circle icon" data-bind="visible: isErr"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
